.nav {
  width: 100%;
  white-space: nowrap;
  position: relative;
  font-family: "Saira Condensed", sans-serif;
}
.nav #inner-nav {
  padding: 25px 5px;
}
.nav #inner-nav .nav-ul-1 {
  display: inline-block;
  width: auto;
  height: 100%;
  padding-inline-start: 15px;
}
.nav #inner-nav .nav-ul-1 li {
  display: inline;
  cursor: pointer;
  margin: 0 10px 0px 0px;
}
.nav #inner-nav .nav-ul-2 {
  margin: 0 6%;
  display: inline-block;
  width: auto;
}
.nav #inner-nav .nav-ul-2 li {
  display: inline;
  margin: 0 15px;
}
.nav #inner-nav .nav-ul-2 li a {
  text-decoration: none;
  color: black;
  transition-duration: 300ms;
  font-weight: 600;
  font-size: larger;
  text-transform: uppercase;
}
.nav #inner-nav .nav-ul-2 li a:hover {
  color: #007bff;
}
.nav #inner-nav #logo-nav {
  background-color: #142336;
  padding: 36px;
  position: absolute;
  left: 515px;
  cursor: pointer;
  top: 0px;
}
.nav #inner-nav .nav-number {
  font-family: "Mulish", sans-serif;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 700;
  color: #4586d5;
  border: 2px solid #fad110;
  width: auto;
  display: inline-block;
}

.services {
  font-family: "Mulish", sans-serif;
  padding: 0px 50px;
}
.services .service .service-title {
  width: 50%;
  display: inline-block;
}
.services .service .service-title #our-services {
  font-size: 18px;
  color: #4586d5;
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.services .service .service-title #what-we-offer {
  font-family: "Saira Condensed", sans-serif;
  font-size: 40px;
  color: #142336;
  font-weight: 600;
  margin: 0px;
}
.services .service .qoute {
  width: 49%;
  display: inline-block;
}
.services .service .qoute #get-qoute {
  float: right;
  font-family: "Saira Condensed", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 14px 36px 12px;
  border: 2px solid #fad110;
  color: #4586d5;
  background: transparent;
}
.services .cards {
  padding: 30px 0px;
}
.services .cards .card {
  display: inline-block;
  width: 30%;
  margin: 0px 25px;
  position: relative;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.services .cards .card #img-service {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.services .cards .card .card-content {
  text-align: center;
  padding: 25px 25px 35px;
}
.services .cards .card .card-content h4 {
  font-family: "Saira Condensed", sans-serif;
  color: #142336;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 12px;
}
.services .cards .card .card-content p {
  color: #777777;
  font-size: 16px;
  line-height: 27px;
  margin: 0 0 15px 0;
}
.services .cards .card .card-content a {
  font-family: "Saira Condensed", sans-serif;
  color: black;
}
.services .cards .card .yellow-box-1 {
  height: 70px;
  width: 80px;
  position: absolute;
  top: 35%;
  left: 38%;
  transition-duration: 300ms;
  background-image: url("../Images/Repair Icon Before.png");
  background-size: cover;
}
.services .cards .card .yellow-box-1:hover {
  background-image: url("../Images/Repair Icon After.png");
  background-size: cover;
}
.services .cards .card .yellow-box-2 {
  height: 70px;
  width: 80px;
  position: absolute;
  top: 35%;
  left: 38%;
  transition-duration: 300ms;
  background-image: url("../Images/Repair Icon Before.png");
  background-size: cover;
}
.services .cards .card .yellow-box-2:hover {
  background-image: url("../Images/Repair Icon After.png");
  background-size: cover;
}
.services .cards .card .yellow-box-3 {
  height: 70px;
  width: 80px;
  position: absolute;
  top: 35%;
  left: 38%;
  transition-duration: 300ms;
  background-image: url("../Images/Repair Icon Before.png");
  background-size: cover;
}
.services .cards .card .yellow-box-3:hover {
  background-image: url("../Images/Repair Icon After.png");
  background-size: cover;
}/*# sourceMappingURL=index.css.map */